body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    
}
#container{
    text-align: center;
    background-color: skyblue;
    padding: 50px;
}
.input_div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}
label{
    font-size: 22px;
}